.head-title{
  font-family: 'Raleway', sans-serif;
}

/* category */

.category1 {
  position: relative;
  outline: 0;
  z-index: 1;
}

.category1::before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.5s ease-in;
}

.category1:hover::before {
  right: 0;
}
.contentWidth {
  width: 100%;
  overflow-x:hidden
}
.category {
  width: 20% !important;
  /* background-color: #f5f4fb; */
  font-weight: 700;
  box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
  height: 482px;
  padding: 15px 0;
  border-radius: 2px;
  /* margin-top: 5px; */
}

.category img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span{
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #fff;
  color: #3e37b7;
  cursor: pointer;
}
/* category */
#service-btn {
  background: #594c7a;
  position: relative;
  padding: 10px 30px;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

#service-btn::before {
  content: "";
  color: #fff;
  position: absolute;
  background: #daa440;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

#service-btn:hover::before {
  right: 0;
}


/* service */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 780px) {
  .category {
    display: none;
  }
  .contentWidth {
    width: 100%;
  }
  #service-btn {
    padding: 10px 20px;
    font-size: 14px;
    }
}
